/*
	CSS Document for Hand
	Build: Thomas Digby
	Date: May 2014
*/
/* mixins for sass and css reset */
/* ---------------------------------------- Mixins ---------------------------------------- */
/* ------------------------------ Transition */
/* ---------------------------------------- Reset ---------------------------------------- */
blockquote, body, button, caption, cite, dd, dl, fieldset, form, h1, h2, h3, h4, h5, h6, hr,
iframe, input, legend, li, ol, p, pre, select, tbody, td, textarea, tfoot, th, thead, tr, ul {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4 {
  font-weight: normal; }

cite {
  font-style: normal; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left; }

td, th {
  text-align: inherit; }

.lt_ie8 img,
td img,
iframe {
  vertical-align: top; }

button,
label,
select,
input,
textarea {
  border-radius: 0;
  display: block;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none; }

textarea {
  overflow: auto;
  resize: vertical; }

input:focus,
select:focus,
textarea:focus {
  outline: 0; }

button {
  background: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

button:focus {
  outline: 0; }

/* base styles */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  float: left; }

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x; }

/* ---------------------------------------- Site ---------------------------------------- */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background: #fff;
  height: 100%;
  overflow-y: scroll; }

body {
  color: #1f1f1f;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  /* 16px */
  line-height: 1.250;
  /* 20px */
  height: 100%;
  min-width: 960px; }

/* ---------------------------------------- Grid ---------------------------------------- */
/* ------------------------------ Wrapper */
.wrapper {
  margin: 0 auto;
  width: 960px; }

/* modifiers */
.wrapper.small {
  width: 600px; }

/* --------------------------- Rows */
.row {
  margin-left: -20px; }
  .row:before, .row:after {
    content: '';
    display: table;
    line-height: 0; }
  .row:after {
    clear: both; }

/* --------------------------- Columns */
[class*="col_"] {
  float: left;
  min-height: 1px;
  padding-left: 20px; }

.col_1_2 {
  width: 50%; }

/* ---------------------------------------- Base ---------------------------------------- */
/* ------------------------------ Headings */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  display: block;
  text-rendering: optimizeLegibility; }

/* ------------------------------ Paragraph */
p {
  font-size: 0.875em;
  /* 14px */
  line-height: 1.429;
  /* 20px */
  margin-bottom: 20px; }

/* ------------------------------ Links */
a {
  color: blue;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: color 150ms ease-out;
  -moz-transition: color 150ms ease-out;
  -o-transition: color 150ms ease-out;
  transition: color 150ms ease-out; }
  a:hover, a:focus {
    text-decoration: underline; }

/* ------------------------------ List */
ul, ol {
  font-size: 0.875em;
  /* 14px */
  line-height: 1.429;
  /* 20px */
  margin-bottom: 20px;
  zoom: 1; }

ul {
  list-style: none; }

ul li {
  background: no-repeat 0 8px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%224%22%20height%3D%224%22%20viewBox%3D%220%200%204%204%22%3E%3Ccircle%20fill%3D%22%231F1F1F%22%20cx%3D%222%22%20cy%3D%222%22%20r%3D%222%22/%3E%3C/svg%3E");
  margin: 0 0 10px;
  padding: 0 0 0 12px; }

ol li {
  margin: 0 0 10px 20px; }

li > ul,
li > ol {
  font-size: 1em;
  /* 16px */
  margin: 12px 0 0 10px; }

ol li ul li {
  margin-left: 0; }

ul li ol li {
  padding: 0;
  background: none; }

/* ---------- List reset */
.list_reset {
  font-size: 1em;
  /* 16px */
  list-style: none;
  margin: 0;
  padding: 0; }

.list_reset li {
  background: none;
  margin: 0;
  padding: 0; }

/* ---------- List inline */
.list_inline:before, .list_inline:after {
  display: table;
  content: '';
  line-height: 0; }
.list_inline:after {
  clear: both; }

.list_inline li {
  float: left; }

/* ---------------------------------------- Header ---------------------------------------- */
header {
  border-bottom: 1px solid #000;
  padding: 20px; }

/* ---------------------------------------- Components ---------------------------------------- */
.fill_viewport {
  height: 100%;
  min-width: 960px;
  width: 100%; }

.panel_container {
  background: rgba(255, 255, 255, 0.7);
  bottom: 0;
  min-height: 50px;
  left: 0;
  padding-top: 50px;
  position: absolute;
  width: 100%;
  z-index: 1; }

.panel_toggle {
  background-color: red;
  height: 50px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  top: 0;
  width: 100px; }

.panel_content {
  padding: 60px 0; }

/* -------------------- Expander */
[data-expander-content][aria-hidden="true"] {
  display: none; }

/* ---------------------------------------- Exhibition page ---------------------------------------- */
.exhibition_content {
  background-color: #fff;
  min-height: 100%;
  padding: 60px 0;
  position: relative;
  width: 100%;
  z-index: 1; }

/* Exhibition work */
.exhibition_work {
  width: 800px; }

.exhibition_work li {
  width: 33.333333%; }

.exhibition_work a {
  display: block;
  padding: 10px; }

.exhibition_work img {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 150ms ease-out;
  -moz-transition: opacity 150ms ease-out;
  -o-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out; }

.exhibition_work.is_active img {
  opacity: 0.6; }

.exhibition_work a:hover img,
.exhibition_work a:focus img {
  opacity: 1 !important; }

/* Exhibition name */
.exhibition_name {
  left: 20px;
  position: fixed;
  top: 20px; }

/* Exhibition hero */
.exhibition_hero {
  background: gray no-repeat center;
  display: table; }

.exhibition_hero_container {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.hero_caption {
  margin: 0 auto;
  max-width: 600px; }

.hero_caption p {
  margin-bottom: 0; }

.exhibition_hero_scroll {
  background: red;
  display: block;
  bottom: 0;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  overflow: hidden;
  position: fixed;
  text-indent: 100%;
  width: 50px;
  white-space: nowrap; }

/* ---------------------------------------- Carousel ---------------------------------------- */
.carousel {
  height: 660px;
  left: 0;
  margin-top: -330px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%; }

.swiper-container {
  height: 600px;
  margin-bottom: 30px;
  width: 100%; }

.swiper-slide::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; }

.swiper-slide img {
  display: inline-block;
  max-height: 600px;
  max-width: 800px;
  vertical-align: middle; }

.swiper-pagination {
  display: inline-block; }

.swiper-pagination .swiper-pagination-switch {
  background-color: red;
  cursor: pointer;
  display: block;
  height: 30px;
  margin: 0 10px;
  width: 30px; }

.swiper-pagination .swiper-active-switch {
  background-color: green; }

[class*="swiper-direction"] {
  background-color: red;
  left: 0;
  height: 50px;
  margin-top: -25px;
  position: fixed;
  top: 50%;
  width: 50px;
  z-index: 2; }

.swiper-direction-next {
  left: auto;
  right: 0; }

/* OOCSS and utilities */
