
@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=cb23815f-6645-4338-a6f4-054beeb8ceb7&fontids=724326,724338,724344");
@font-face{

font-family:"Avenir LT W02 45 Book";

src:url("Fonts/724326/cc232236-c38e-4181-b791-8be0f37e6f0e.eot?#iefix");

src:url("Fonts/724326/cc232236-c38e-4181-b791-8be0f37e6f0e.eot?#iefix") format("eot"),url("Fonts/724326/493b124a-f032-4d7d-9d9b-b3ebdb18c13a.woff") format("woff"),url("Fonts/724326/b2470f08-706e-4417-bcb4-64e4b3cb07b0.ttf") format("truetype"),url("Fonts/724326/71715770-8b1b-41d7-bc36-4e630e95fd3a.svg#71715770-8b1b-41d7-bc36-4e630e95fd3a") format("svg");

}

@font-face{

font-family:"Avenir LT W02 65 Medium";

src:url("Fonts/724338/c7a58743-f241-4281-bfc0-f1df551cb37d.eot?#iefix");

src:url("Fonts/724338/c7a58743-f241-4281-bfc0-f1df551cb37d.eot?#iefix") format("eot"),url("Fonts/724338/b8db69f9-df9e-480f-9c1c-d76a1bb29a62.woff") format("woff"),url("Fonts/724338/63753503-2f58-4a8b-91af-058e8f73a1b0.ttf") format("truetype"),url("Fonts/724338/3cece34e-2cfb-4b8f-8a9c-04ec56d1e672.svg#3cece34e-2cfb-4b8f-8a9c-04ec56d1e672") format("svg");

}

@font-face{

font-family:"Avenir LT W02 85 Heavy";

src:url("Fonts/724344/e9427e66-afa8-4ceb-bb31-7a970fb469ea.eot?#iefix");

src:url("Fonts/724344/e9427e66-afa8-4ceb-bb31-7a970fb469ea.eot?#iefix") format("eot"),url("Fonts/724344/748da442-9dd9-4a4d-8da0-b114e16e5d7f.woff") format("woff"),url("Fonts/724344/6beeeb66-0b4e-4162-8788-8bf688b9829a.ttf") format("truetype"),url("Fonts/724344/8afe744b-89a2-4ae2-a88e-05c6882580f3.svg#8afe744b-89a2-4ae2-a88e-05c6882580f3") format("svg");

}

