

/* ---------------------------------------- Site ---------------------------------------- */

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
html {
	background: #fff;
	height: 100%;
	overflow-y: scroll;
}
body {
	color: #1f1f1f;
	font-family: $avenirBook;
	font-size: 100%; /* 16px */
	line-height: 1.250; /* 20px */
	min-height: 100%;
	min-width: 960px;
}

/* modifiers */
.color_negative {
	background-color: #000;
	color: #fff;
}



/* ---------------------------------------- Grid ---------------------------------------- */

/* ------------------------------ Wrapper */
.wrapper {
	margin: 0 auto;
	width: 960px;
}
/* modifiers */
.wrapper.small {
	width: 600px;
}


/* --------------------------- Rows */
.row {
	margin-left: -50px;
	&:before,
	&:after {
		content: '';
		display: table;
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

/* --------------------------- Columns */
[class*="col_"] {
	float: left;
	min-height: 1px;
	padding-left: 50px;
}
.col_1_2 {
	width: 50%;
}
.col_1_3 {
	width: 33.333333%;
}



/* ---------------------------------------- Base ---------------------------------------- */

/* ------------------------------ Headings */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	// display: block;
	text-rendering: optimizeLegibility;
}
h1,
.h1 {
	font-family: $avenirHeavy;
	font-size: 3.125em; /* 50px */
	line-height: 1.3; /* 65px */
}

/* ------------------------------ Paragraph */
p {
	font-size: 0.875em; /* 14px */
	line-height: 1.429; /* 20px */
	margin-bottom: 20px;
	text-rendering: optimizeLegibility;
}
p strong {
	font-family: $avenirMedium;
}
.intro {
	font-family: $avenirHeavy;
	font-size: 1.375em; /* 22px */
	line-height: 1.364; /* 30px */
}
.huge {
	font-family: $avenirHeavy;
	font-size: 6.000em; /* 96px */
	line-height: 1.1; /* 120px */
}

/* ------------------------------ Links */
a {
	color: #1f1f1f;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}
/* modifiers */
.color_negative a {
	color: #fff;
}
.underline {
	position: relative;
	&::after {
		background-color: #1f1f1f;
		content: '';
		height: 6px;
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 100%;
	}
}
.color_negative .underline {
	&::after {
		background-color: #fff;
	}
}
.underline:hover,
.underline:focus {
	text-decoration: none;
}

/* ------------------------------ List */
ul, ol {
	font-size: 0.875em; /* 14px */
	line-height: 1.429; /* 20px */
	margin-bottom: 20px;
	zoom: 1;
}
ul {
	list-style: none;
}
ul li {
	background: no-repeat 0 8px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%224%22%20height%3D%224%22%20viewBox%3D%220%200%204%204%22%3E%3Ccircle%20fill%3D%22%231F1F1F%22%20cx%3D%222%22%20cy%3D%222%22%20r%3D%222%22/%3E%3C/svg%3E');
	margin: 0 0 10px;
	padding: 0 0 0 12px;
}
ol li {
	margin: 0 0 10px 20px;
}
li > ul,
li > ol {
	font-size: 1em; /* 16px */
	margin: 12px 0 0 10px;
}
ol li ul li {
	margin-left: 0;
}
ul li ol li {
	padding: 0;
	background: none;
}

/* ---------- List reset */
.list_reset {
	font-size: 1em; /* 16px */
	list-style: none;
	margin: 0;
	padding: 0;
}
.list_reset li {
	background: none;
	margin: 0;
	padding: 0;
}

/* ---------- List inline */
.list_inline {
	&:before,
	&:after {
		display: table;
		content: '';
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}
.list_inline li {
	float: left;
}




/* ---------------------------------------- Header ---------------------------------------- */

header {
	background-color: #fff;
	width: 100%;
	padding: 0 50px;
	position: fixed;
	z-index: 100;
}

/* modifiers */
header.border_b nav {
	border-bottom: 1px solid #1f1f1f;
}
.color_negative {
	header {
		background-color: #000;
		&.border_b nav {
			border-color: #fff;
		}
	}
}

/* ---------- navigation */
nav {
	margin: 0 auto;
}
nav ul {
	margin: 0 auto !important;
	max-width: 960px;
	width: 100%;
}
nav a {
	display: block;
	font-size: 1em; /* 16px */
	font-family: $avenirBook;
	line-height: 1; /* 14px */
	padding: 40px 30px;
	position: relative;
	&:hover,
	&:focus {
		text-decoration: none;
	}
	&:hover::after,
	&:focus::after ,
	&.is_current::after{
		background-color: #1f1f1f;
		content: '';
		height: 1px;
		position: absolute;
		bottom: 36px;
		left: 30px;
		right: 30px;
	}
}

/* modifiers */
.color_negative nav a {
	color: #fff;
	&::after {
		background-color: #fff;
	}
}




/* ---------------------------------------- Footer ---------------------------------------- */

footer {
	background-color: #000;
	color: #fff;
	height: 300px;
	padding: 80px 0;
}

footer h2 {
	font-size: 0.875em; /* 14px */
	line-height: 1.667; /* 20px */
	margin-left: 30px;
}
footer p {
	font-size: 0.75em; /* 12px */
}

footer a {
	color: #fff;
	text-decoration: underline;
}
footer .indent {
	display: block;
	padding-left: 30px;
}

.site_wrapper {
	min-height: 100%;
	margin-bottom: -300px;
	&::after {
		content: '';
		display: block;
		height: 300px;
	}
}



/* ---------------------------------------- Page ---------------------------------------- */

.container_page {
	padding: 120px 60px 30px;
	position: relative;
	z-index: 10;
}
.container_info {
	padding: 96px 0 0;
	position: relative;
	z-index: 10;
}


/* ---------------------------------------- Splash ---------------------------------------- */

.logo_splash {
	background: no-repeat center;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%22644px%22%20height%3D%22296px%22%20viewBox%3D%220%200%20644%20296%22%20enable-background%3D%22new%200%200%20644%20296%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M37.3%2C105.6h0.6c5.9-12.4%2C20.7-24.4%2C43.6-24.4c39.9%2C0%2C54.2%2C28.2%2C54.2%2C58.5v93.8H98.6v-75.2%0D%0A%09%09c0-16.4-1.2-43.6-27.2-43.6c-24.4%2C0-34%2C17.9-34%2C37.7v81.1H0.2V-0.6h37.1V105.6z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M333.6%2C84.8h35.3v23.8h0.6c6.8-14.9%2C20.7-27.5%2C45.5-27.5c39.9%2C0%2C54.2%2C28.2%2C54.2%2C58.5v93.8H432v-75.2%0D%0A%09%09c0-16.4-1.2-43.6-27.2-43.6c-24.4%2C0-34%2C17.9-34%2C37.7v81.1h-37.1V84.8z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M608.6%2C211.1H608c-10.8%2C17.9-30.3%2C26-51.1%2C26c-45.8%2C0-73.3-34-73.3-78c0-43.9%2C29.4-78%2C71.8-78%0D%0A%09%09c27.8%2C0%2C42.7%2C13%2C50.4%2C22.6h0.9V-0.6h37.1v233.9h-35.3V211.1z%20M564.3%2C203.7c27.2%2C0%2C43.6-21.4%2C43.6-44.6c0-23.2-16.4-44.6-43.6-44.6%0D%0A%09%09c-27.2%2C0-43.6%2C21.4-43.6%2C44.6C520.7%2C182.3%2C537.1%2C203.7%2C564.3%2C203.7z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M275.7%2C211.1h-0.6c-10.8%2C17.9-30.3%2C26-51.1%2C26c-45.8%2C0-73.3-34-73.3-78c0-43.9%2C29.4-78%2C71.8-78%0D%0A%09%09c27.8%2C0%2C42.7%2C13%2C50.4%2C22.6h0.9V84.8h37.1v148.5h-35.3V211.1z%20M231.4%2C203.7c27.2%2C0%2C43.6-21.4%2C43.6-44.6c0-23.2-16.4-44.6-43.6-44.6%0D%0A%09%09c-27.2%2C0-43.6%2C21.4-43.6%2C44.6C187.8%2C182.3%2C204.2%2C203.7%2C231.4%2C203.7z%22/%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M117.4%2C275.1v-3.5h3.4v-4.7h4.1v4.7h4.5v3.5h-4.5v7.1c0%2C0.8%2C0.2%2C1.5%2C0.5%2C1.9c0.3%2C0.5%2C0.9%2C0.7%2C1.8%2C0.7%0D%0A%09%09c0.4%2C0%2C0.8%2C0%2C1.2-0.1c0.4-0.1%2C0.8-0.2%2C1-0.4v3.4c-0.4%2C0.2-1%2C0.3-1.6%2C0.4c-0.6%2C0.1-1.2%2C0.1-1.6%2C0.1c-1.1%2C0-2-0.1-2.7-0.4%0D%0A%09%09c-0.7-0.2-1.2-0.6-1.6-1.1c-0.4-0.5-0.7-1.1-0.8-1.8c-0.1-0.7-0.2-1.6-0.2-2.5v-7.5H117.4z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M135.9%2C274L135.9%2C274c0.4-0.7%2C0.9-1.3%2C1.8-1.9s1.8-0.8%2C3.1-0.8c1.1%2C0%2C2%2C0.2%2C2.8%2C0.5%0D%0A%09%09c0.8%2C0.4%2C1.4%2C0.8%2C1.9%2C1.4c0.5%2C0.6%2C0.8%2C1.3%2C1%2C2c0.2%2C0.8%2C0.3%2C1.6%2C0.3%2C2.4V288h-4.1v-8.3c0-0.5%2C0-1-0.1-1.5c0-0.6-0.2-1.1-0.4-1.6%0D%0A%09%09c-0.2-0.5-0.5-0.9-0.9-1.2c-0.4-0.3-1-0.5-1.7-0.5c-0.7%2C0-1.3%2C0.1-1.7%2C0.3c-0.5%2C0.2-0.8%2C0.5-1.2%2C0.9c-0.3%2C0.4-0.5%2C0.8-0.7%2C1.3%0D%0A%09%09c-0.1%2C0.5-0.2%2C1-0.2%2C1.6v8.9h-4.1v-25.7h4.1V274z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M153.3%2C281.3c0.1%2C1.2%2C0.6%2C2.2%2C1.4%2C2.9c0.8%2C0.7%2C1.8%2C1%2C3%2C1c1%2C0%2C1.9-0.2%2C2.6-0.6c0.7-0.4%2C1.3-0.9%2C1.8-1.6%0D%0A%09%09l2.9%2C2.2c-1%2C1.2-2%2C2-3.2%2C2.5c-1.2%2C0.5-2.4%2C0.7-3.7%2C0.7c-1.2%2C0-2.4-0.2-3.5-0.6s-2-1-2.8-1.7c-0.8-0.7-1.4-1.6-1.9-2.7%0D%0A%09%09c-0.5-1.1-0.7-2.2-0.7-3.5s0.2-2.5%2C0.7-3.5c0.5-1.1%2C1.1-2%2C1.9-2.7c0.8-0.7%2C1.7-1.3%2C2.8-1.7s2.2-0.6%2C3.5-0.6c1.1%2C0%2C2.2%2C0.2%2C3.1%2C0.6%0D%0A%09%09c0.9%2C0.4%2C1.7%2C1%2C2.4%2C1.7c0.7%2C0.7%2C1.2%2C1.7%2C1.6%2C2.8s0.6%2C2.4%2C0.6%2C3.8v1.1H153.3z%20M161.6%2C278.2c0-1.2-0.4-2.1-1.1-2.8%0D%0A%09%09c-0.7-0.7-1.7-1-3-1c-1.2%2C0-2.2%2C0.4-2.9%2C1.1c-0.7%2C0.7-1.2%2C1.6-1.3%2C2.8H161.6z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M177.4%2C279.8c0-1.3%2C0.2-2.5%2C0.7-3.5c0.5-1.1%2C1.1-2%2C1.9-2.7c0.8-0.7%2C1.7-1.3%2C2.8-1.7s2.2-0.6%2C3.5-0.6%0D%0A%09%09s2.4%2C0.2%2C3.5%2C0.6s2%2C1%2C2.8%2C1.7c0.8%2C0.7%2C1.4%2C1.6%2C1.9%2C2.7c0.5%2C1.1%2C0.7%2C2.2%2C0.7%2C3.5s-0.2%2C2.5-0.7%2C3.5c-0.5%2C1.1-1.1%2C2-1.9%2C2.7%0D%0A%09%09c-0.8%2C0.7-1.7%2C1.3-2.8%2C1.7s-2.2%2C0.6-3.5%2C0.6s-2.4-0.2-3.5-0.6s-2-1-2.8-1.7c-0.8-0.7-1.4-1.6-1.9-2.7%0D%0A%09%09C177.6%2C282.3%2C177.4%2C281.1%2C177.4%2C279.8z%20M181.5%2C279.8c0%2C0.6%2C0.1%2C1.2%2C0.3%2C1.8c0.2%2C0.6%2C0.5%2C1.1%2C1%2C1.6c0.4%2C0.5%2C0.9%2C0.8%2C1.5%2C1.1%0D%0A%09%09c0.6%2C0.3%2C1.3%2C0.4%2C2%2C0.4s1.4-0.1%2C2-0.4c0.6-0.3%2C1.1-0.6%2C1.5-1.1c0.4-0.5%2C0.7-1%2C1-1.6c0.2-0.6%2C0.3-1.2%2C0.3-1.8c0-0.6-0.1-1.2-0.3-1.8%0D%0A%09%09c-0.2-0.6-0.5-1.1-1-1.6c-0.4-0.5-0.9-0.8-1.5-1.1c-0.6-0.3-1.3-0.4-2-0.4s-1.4%2C0.1-2%2C0.4c-0.6%2C0.3-1.1%2C0.6-1.5%2C1.1%0D%0A%09%09c-0.4%2C0.5-0.7%2C1-1%2C1.6C181.6%2C278.6%2C181.5%2C279.2%2C181.5%2C279.8z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M198.3%2C271.7h3.9v2.6h0.1c0.4-0.8%2C1-1.5%2C1.8-2.1c0.8-0.6%2C1.9-0.9%2C3.2-0.9c1.1%2C0%2C2%2C0.2%2C2.8%2C0.5%0D%0A%09%09c0.8%2C0.4%2C1.4%2C0.8%2C1.9%2C1.4c0.5%2C0.6%2C0.8%2C1.3%2C1%2C2c0.2%2C0.8%2C0.3%2C1.6%2C0.3%2C2.4V288h-4.1v-8.3c0-0.5%2C0-1-0.1-1.5c0-0.6-0.2-1.1-0.4-1.6%0D%0A%09%09c-0.2-0.5-0.5-0.9-0.9-1.2c-0.4-0.3-1-0.5-1.7-0.5c-0.7%2C0-1.3%2C0.1-1.7%2C0.3c-0.5%2C0.2-0.8%2C0.5-1.2%2C0.9c-0.3%2C0.4-0.5%2C0.8-0.7%2C1.3%0D%0A%09%09c-0.1%2C0.5-0.2%2C1-0.2%2C1.6v8.9h-4.1V271.7z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M217.2%2C262.3h4.1V288h-4.1V262.3z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M224.8%2C266.1c0-0.7%2C0.2-1.2%2C0.7-1.7c0.5-0.5%2C1.1-0.7%2C1.9-0.7s1.4%2C0.2%2C1.9%2C0.7c0.5%2C0.5%2C0.8%2C1%2C0.8%2C1.8%0D%0A%09%09c0%2C0.7-0.3%2C1.3-0.8%2C1.8c-0.5%2C0.5-1.1%2C0.7-1.9%2C0.7s-1.4-0.2-1.9-0.7C225.1%2C267.4%2C224.8%2C266.8%2C224.8%2C266.1z%20M225.4%2C271.7h4.1V288%0D%0A%09%09h-4.1V271.7z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M233.5%2C271.7h3.9v2.6h0.1c0.4-0.8%2C1-1.5%2C1.8-2.1c0.8-0.6%2C1.9-0.9%2C3.2-0.9c1.1%2C0%2C2%2C0.2%2C2.8%2C0.5%0D%0A%09%09c0.8%2C0.4%2C1.4%2C0.8%2C1.9%2C1.4c0.5%2C0.6%2C0.8%2C1.3%2C1%2C2c0.2%2C0.8%2C0.3%2C1.6%2C0.3%2C2.4V288h-4.1v-8.3c0-0.5%2C0-1-0.1-1.5c0-0.6-0.2-1.1-0.4-1.6%0D%0A%09%09c-0.2-0.5-0.5-0.9-0.9-1.2c-0.4-0.3-1-0.5-1.7-0.5c-0.7%2C0-1.3%2C0.1-1.7%2C0.3c-0.5%2C0.2-0.8%2C0.5-1.2%2C0.9c-0.3%2C0.4-0.5%2C0.8-0.7%2C1.3%0D%0A%09%09c-0.1%2C0.5-0.2%2C1-0.2%2C1.6v8.9h-4.1V271.7z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M255.6%2C281.3c0.1%2C1.2%2C0.6%2C2.2%2C1.4%2C2.9c0.8%2C0.7%2C1.8%2C1%2C3%2C1c1%2C0%2C1.9-0.2%2C2.6-0.6c0.7-0.4%2C1.3-0.9%2C1.8-1.6%0D%0A%09%09l2.9%2C2.2c-1%2C1.2-2%2C2-3.2%2C2.5c-1.2%2C0.5-2.4%2C0.7-3.7%2C0.7c-1.2%2C0-2.4-0.2-3.5-0.6s-2-1-2.8-1.7c-0.8-0.7-1.4-1.6-1.9-2.7%0D%0A%09%09c-0.5-1.1-0.7-2.2-0.7-3.5s0.2-2.5%2C0.7-3.5c0.5-1.1%2C1.1-2%2C1.9-2.7c0.8-0.7%2C1.7-1.3%2C2.8-1.7s2.2-0.6%2C3.5-0.6c1.1%2C0%2C2.2%2C0.2%2C3.1%2C0.6%0D%0A%09%09c0.9%2C0.4%2C1.7%2C1%2C2.4%2C1.7c0.7%2C0.7%2C1.2%2C1.7%2C1.6%2C2.8s0.6%2C2.4%2C0.6%2C3.8v1.1H255.6z%20M263.9%2C278.2c0-1.2-0.4-2.1-1.1-2.8%0D%0A%09%09c-0.7-0.7-1.7-1-3-1c-1.2%2C0-2.2%2C0.4-2.9%2C1.1c-0.7%2C0.7-1.2%2C1.6-1.3%2C2.8H263.9z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M283.8%2C281.3c0.1%2C1.2%2C0.6%2C2.2%2C1.4%2C2.9c0.8%2C0.7%2C1.8%2C1%2C3%2C1c1%2C0%2C1.9-0.2%2C2.6-0.6c0.7-0.4%2C1.3-0.9%2C1.8-1.6%0D%0A%09%09l2.9%2C2.2c-1%2C1.2-2%2C2-3.2%2C2.5c-1.2%2C0.5-2.4%2C0.7-3.7%2C0.7c-1.2%2C0-2.4-0.2-3.5-0.6s-2-1-2.8-1.7c-0.8-0.7-1.4-1.6-1.9-2.7%0D%0A%09%09c-0.5-1.1-0.7-2.2-0.7-3.5s0.2-2.5%2C0.7-3.5c0.5-1.1%2C1.1-2%2C1.9-2.7c0.8-0.7%2C1.7-1.3%2C2.8-1.7s2.2-0.6%2C3.5-0.6c1.1%2C0%2C2.2%2C0.2%2C3.1%2C0.6%0D%0A%09%09c0.9%2C0.4%2C1.7%2C1%2C2.4%2C1.7c0.7%2C0.7%2C1.2%2C1.7%2C1.6%2C2.8s0.6%2C2.4%2C0.6%2C3.8v1.1H283.8z%20M292.2%2C278.2c0-1.2-0.4-2.1-1.1-2.8%0D%0A%09%09c-0.7-0.7-1.7-1-3-1c-1.2%2C0-2.2%2C0.4-2.9%2C1.1c-0.7%2C0.7-1.2%2C1.6-1.3%2C2.8H292.2z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M302.9%2C279.2l-5.6-7.5h5l3.3%2C4.9l3.5-4.9h4.7l-5.6%2C7.5l6.6%2C8.8h-5l-4.2-5.8l-4.3%2C5.8h-4.8L302.9%2C279.2z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M320.3%2C274L320.3%2C274c0.4-0.7%2C0.9-1.3%2C1.8-1.9s1.8-0.8%2C3.1-0.8c1.1%2C0%2C2%2C0.2%2C2.8%2C0.5s1.4%2C0.8%2C1.9%2C1.4%0D%0A%09%09c0.5%2C0.6%2C0.8%2C1.3%2C1%2C2s0.3%2C1.6%2C0.3%2C2.4V288h-4.1v-8.3c0-0.5%2C0-1-0.1-1.5c0-0.6-0.2-1.1-0.4-1.6s-0.5-0.9-0.9-1.2%0D%0A%09%09c-0.4-0.3-1-0.5-1.7-0.5c-0.7%2C0-1.3%2C0.1-1.7%2C0.3c-0.5%2C0.2-0.8%2C0.5-1.2%2C0.9c-0.3%2C0.4-0.5%2C0.8-0.7%2C1.3c-0.1%2C0.5-0.2%2C1-0.2%2C1.6v8.9%0D%0A%09%09h-4.1v-25.7h4.1V274z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M334.6%2C266.1c0-0.7%2C0.2-1.2%2C0.7-1.7s1.1-0.7%2C1.9-0.7s1.4%2C0.2%2C1.9%2C0.7c0.5%2C0.5%2C0.8%2C1%2C0.8%2C1.8%0D%0A%09%09c0%2C0.7-0.3%2C1.3-0.8%2C1.8c-0.5%2C0.5-1.1%2C0.7-1.9%2C0.7s-1.4-0.2-1.9-0.7S334.6%2C266.8%2C334.6%2C266.1z%20M335.2%2C271.7h4.1V288h-4.1V271.7z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M343.3%2C262.3h4.1v11.5h0.1c0.2-0.3%2C0.5-0.5%2C0.8-0.8c0.3-0.3%2C0.7-0.5%2C1.2-0.8c0.5-0.2%2C1-0.5%2C1.6-0.6%0D%0A%09%09c0.6-0.2%2C1.3-0.2%2C2-0.2c1.2%2C0%2C2.2%2C0.2%2C3.2%2C0.7c1%2C0.4%2C1.8%2C1%2C2.5%2C1.8c0.7%2C0.8%2C1.2%2C1.7%2C1.6%2C2.7c0.4%2C1%2C0.6%2C2.2%2C0.6%2C3.4%0D%0A%09%09c0%2C1.2-0.2%2C2.3-0.5%2C3.4c-0.4%2C1-0.9%2C1.9-1.6%2C2.7c-0.7%2C0.8-1.6%2C1.4-2.6%2C1.8c-1%2C0.4-2.1%2C0.7-3.4%2C0.7c-1.2%2C0-2.2-0.2-3.2-0.7%0D%0A%09%09c-1-0.5-1.8-1.2-2.4-2.2h-0.1v2.4h-3.9V262.3z%20M356.8%2C279.8c0-0.6-0.1-1.2-0.3-1.8c-0.2-0.6-0.5-1.1-1-1.6%0D%0A%09%09c-0.4-0.5-0.9-0.8-1.5-1.1c-0.6-0.3-1.3-0.4-2-0.4s-1.4%2C0.1-2%2C0.4c-0.6%2C0.3-1.1%2C0.6-1.5%2C1.1s-0.7%2C1-1%2C1.6c-0.2%2C0.6-0.3%2C1.2-0.3%2C1.8%0D%0A%09%09c0%2C0.6%2C0.1%2C1.2%2C0.3%2C1.8c0.2%2C0.6%2C0.5%2C1.1%2C1%2C1.6s0.9%2C0.8%2C1.5%2C1.1c0.6%2C0.3%2C1.3%2C0.4%2C2%2C0.4s1.4-0.1%2C2-0.4c0.6-0.3%2C1.1-0.6%2C1.5-1.1%0D%0A%09%09c0.4-0.5%2C0.7-1%2C1-1.6C356.7%2C281.1%2C356.8%2C280.5%2C356.8%2C279.8z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M363.5%2C266.1c0-0.7%2C0.2-1.2%2C0.7-1.7c0.5-0.5%2C1.1-0.7%2C1.9-0.7s1.4%2C0.2%2C1.9%2C0.7c0.5%2C0.5%2C0.8%2C1%2C0.8%2C1.8%0D%0A%09%09c0%2C0.7-0.3%2C1.3-0.8%2C1.8c-0.5%2C0.5-1.1%2C0.7-1.9%2C0.7s-1.4-0.2-1.9-0.7C363.7%2C267.4%2C363.5%2C266.8%2C363.5%2C266.1z%20M364.1%2C271.7h4.1V288%0D%0A%09%09h-4.1V271.7z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M370.9%2C275.1v-3.5h3.4v-4.7h4.1v4.7h4.5v3.5h-4.5v7.1c0%2C0.8%2C0.2%2C1.5%2C0.5%2C1.9c0.3%2C0.5%2C0.9%2C0.7%2C1.8%2C0.7%0D%0A%09%09c0.4%2C0%2C0.8%2C0%2C1.2-0.1c0.4-0.1%2C0.8-0.2%2C1-0.4v3.4c-0.4%2C0.2-1%2C0.3-1.6%2C0.4c-0.6%2C0.1-1.2%2C0.1-1.6%2C0.1c-1.1%2C0-2-0.1-2.7-0.4%0D%0A%09%09c-0.7-0.2-1.2-0.6-1.6-1.1c-0.4-0.5-0.7-1.1-0.8-1.8c-0.1-0.7-0.2-1.6-0.2-2.5v-7.5H370.9z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M385.6%2C266.1c0-0.7%2C0.2-1.2%2C0.7-1.7c0.5-0.5%2C1.1-0.7%2C1.9-0.7s1.4%2C0.2%2C1.9%2C0.7c0.5%2C0.5%2C0.8%2C1%2C0.8%2C1.8%0D%0A%09%09c0%2C0.7-0.3%2C1.3-0.8%2C1.8c-0.5%2C0.5-1.1%2C0.7-1.9%2C0.7s-1.4-0.2-1.9-0.7C385.8%2C267.4%2C385.6%2C266.8%2C385.6%2C266.1z%20M386.2%2C271.7h4.1V288%0D%0A%09%09h-4.1V271.7z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M393.4%2C279.8c0-1.3%2C0.2-2.5%2C0.7-3.5c0.5-1.1%2C1.1-2%2C1.9-2.7c0.8-0.7%2C1.7-1.3%2C2.8-1.7s2.2-0.6%2C3.5-0.6%0D%0A%09%09c1.2%2C0%2C2.4%2C0.2%2C3.5%2C0.6s2%2C1%2C2.8%2C1.7c0.8%2C0.7%2C1.4%2C1.6%2C1.9%2C2.7c0.5%2C1.1%2C0.7%2C2.2%2C0.7%2C3.5s-0.2%2C2.5-0.7%2C3.5c-0.5%2C1.1-1.1%2C2-1.9%2C2.7%0D%0A%09%09c-0.8%2C0.7-1.7%2C1.3-2.8%2C1.7s-2.2%2C0.6-3.5%2C0.6c-1.2%2C0-2.4-0.2-3.5-0.6s-2-1-2.8-1.7c-0.8-0.7-1.4-1.6-1.9-2.7%0D%0A%09%09C393.7%2C282.3%2C393.4%2C281.1%2C393.4%2C279.8z%20M397.5%2C279.8c0%2C0.6%2C0.1%2C1.2%2C0.3%2C1.8c0.2%2C0.6%2C0.5%2C1.1%2C1%2C1.6c0.4%2C0.5%2C0.9%2C0.8%2C1.5%2C1.1%0D%0A%09%09c0.6%2C0.3%2C1.3%2C0.4%2C2%2C0.4s1.4-0.1%2C2-0.4c0.6-0.3%2C1.1-0.6%2C1.5-1.1s0.7-1%2C1-1.6c0.2-0.6%2C0.3-1.2%2C0.3-1.8c0-0.6-0.1-1.2-0.3-1.8%0D%0A%09%09c-0.2-0.6-0.5-1.1-1-1.6s-0.9-0.8-1.5-1.1c-0.6-0.3-1.3-0.4-2-0.4s-1.4%2C0.1-2%2C0.4c-0.6%2C0.3-1.1%2C0.6-1.5%2C1.1c-0.4%2C0.5-0.7%2C1-1%2C1.6%0D%0A%09%09C397.6%2C278.6%2C397.5%2C279.2%2C397.5%2C279.8z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M414.3%2C271.7h3.9v2.6h0.1c0.4-0.8%2C1-1.5%2C1.8-2.1s1.9-0.9%2C3.2-0.9c1.1%2C0%2C2%2C0.2%2C2.8%2C0.5%0D%0A%09%09c0.8%2C0.4%2C1.4%2C0.8%2C1.9%2C1.4c0.5%2C0.6%2C0.8%2C1.3%2C1%2C2c0.2%2C0.8%2C0.3%2C1.6%2C0.3%2C2.4V288h-4.1v-8.3c0-0.5%2C0-1-0.1-1.5c0-0.6-0.2-1.1-0.4-1.6%0D%0A%09%09c-0.2-0.5-0.5-0.9-0.9-1.2c-0.4-0.3-1-0.5-1.7-0.5c-0.7%2C0-1.3%2C0.1-1.7%2C0.3s-0.8%2C0.5-1.2%2C0.9c-0.3%2C0.4-0.5%2C0.8-0.7%2C1.3%0D%0A%09%09c-0.1%2C0.5-0.2%2C1-0.2%2C1.6v8.9h-4.1V271.7z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M451.2%2C276.2c-0.8-1.1-1.9-1.7-3.2-1.7c-0.5%2C0-1.1%2C0.1-1.6%2C0.4c-0.5%2C0.3-0.8%2C0.7-0.8%2C1.3%0D%0A%09%09c0%2C0.5%2C0.2%2C0.9%2C0.6%2C1.1c0.4%2C0.2%2C1%2C0.4%2C1.6%2C0.6c0.7%2C0.2%2C1.4%2C0.3%2C2.1%2C0.5s1.5%2C0.4%2C2.1%2C0.8c0.7%2C0.4%2C1.2%2C0.8%2C1.6%2C1.4%0D%0A%09%09c0.4%2C0.6%2C0.6%2C1.5%2C0.6%2C2.5c0%2C1-0.2%2C1.8-0.6%2C2.5c-0.4%2C0.7-1%2C1.2-1.6%2C1.6c-0.7%2C0.4-1.4%2C0.7-2.3%2C0.9c-0.8%2C0.2-1.7%2C0.3-2.5%2C0.3%0D%0A%09%09c-1.3%2C0-2.4-0.2-3.5-0.5c-1.1-0.4-2-1-2.9-2l2.7-2.5c0.5%2C0.6%2C1.1%2C1.1%2C1.7%2C1.4c0.6%2C0.4%2C1.3%2C0.6%2C2.2%2C0.6c0.3%2C0%2C0.6%2C0%2C0.9-0.1%0D%0A%09%09c0.3-0.1%2C0.6-0.2%2C0.9-0.3s0.5-0.4%2C0.7-0.6c0.2-0.2%2C0.3-0.5%2C0.3-0.8c0-0.6-0.2-1-0.6-1.3c-0.4-0.3-1-0.5-1.6-0.7%0D%0A%09%09c-0.7-0.2-1.4-0.3-2.1-0.5s-1.5-0.4-2.1-0.7c-0.7-0.3-1.2-0.8-1.6-1.4c-0.4-0.6-0.6-1.4-0.6-2.4c0-0.9%2C0.2-1.7%2C0.6-2.4%0D%0A%09%09c0.4-0.7%2C0.9-1.2%2C1.5-1.6s1.3-0.7%2C2.1-1s1.6-0.3%2C2.4-0.3c1.1%2C0%2C2.2%2C0.2%2C3.2%2C0.6c1.1%2C0.4%2C1.9%2C1%2C2.6%2C1.9L451.2%2C276.2z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M457%2C271.7h3.9v2.4h0.1c0.6-1%2C1.4-1.7%2C2.4-2.2c1-0.5%2C2.1-0.7%2C3.2-0.7c1.2%2C0%2C2.4%2C0.2%2C3.4%2C0.7%0D%0A%09%09c1%2C0.4%2C1.8%2C1%2C2.5%2C1.8s1.2%2C1.7%2C1.6%2C2.7c0.4%2C1%2C0.5%2C2.2%2C0.5%2C3.4c0%2C1.2-0.2%2C2.3-0.6%2C3.4c-0.4%2C1-0.9%2C1.9-1.6%2C2.7%0D%0A%09%09c-0.7%2C0.8-1.5%2C1.4-2.5%2C1.8c-1%2C0.4-2%2C0.7-3.2%2C0.7c-0.8%2C0-1.5-0.1-2-0.2c-0.6-0.2-1.1-0.4-1.6-0.6c-0.5-0.2-0.8-0.5-1.2-0.8%0D%0A%09%09c-0.3-0.3-0.6-0.6-0.8-0.8H461v9.8H457V271.7z%20M470.5%2C279.8c0-0.6-0.1-1.2-0.3-1.8c-0.2-0.6-0.5-1.1-1-1.6s-0.9-0.8-1.5-1.1%0D%0A%09%09c-0.6-0.3-1.3-0.4-2-0.4s-1.4%2C0.1-2%2C0.4c-0.6%2C0.3-1.1%2C0.6-1.5%2C1.1c-0.4%2C0.5-0.7%2C1-1%2C1.6c-0.2%2C0.6-0.3%2C1.2-0.3%2C1.8%0D%0A%09%09c0%2C0.6%2C0.1%2C1.2%2C0.3%2C1.8c0.2%2C0.6%2C0.5%2C1.1%2C1%2C1.6c0.4%2C0.5%2C0.9%2C0.8%2C1.5%2C1.1c0.6%2C0.3%2C1.3%2C0.4%2C2%2C0.4s1.4-0.1%2C2-0.4%0D%0A%09%09c0.6-0.3%2C1.1-0.6%2C1.5-1.1s0.7-1%2C1-1.6C470.4%2C281.1%2C470.5%2C280.5%2C470.5%2C279.8z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M487.9%2C285.7h-0.1c-0.6%2C0.9-1.3%2C1.6-2.2%2C2c-0.9%2C0.4-1.9%2C0.6-3%2C0.6c-0.7%2C0-1.5-0.1-2.2-0.3%0D%0A%09%09c-0.7-0.2-1.3-0.5-1.9-0.9c-0.6-0.4-1-0.9-1.3-1.5c-0.3-0.6-0.5-1.3-0.5-2.1c0-0.9%2C0.2-1.6%2C0.5-2.3c0.3-0.6%2C0.7-1.1%2C1.3-1.6%0D%0A%09%09c0.5-0.4%2C1.2-0.8%2C1.9-1c0.7-0.2%2C1.4-0.4%2C2.2-0.6c0.8-0.1%2C1.5-0.2%2C2.3-0.2c0.8%2C0%2C1.5-0.1%2C2.2-0.1h1v-0.4c0-1-0.4-1.8-1.1-2.3%0D%0A%09%09c-0.7-0.5-1.6-0.8-2.7-0.8c-0.9%2C0-1.7%2C0.2-2.4%2C0.5s-1.4%2C0.7-1.9%2C1.2l-2.1-2.1c0.9-0.9%2C2-1.6%2C3.2-2c1.2-0.4%2C2.5-0.6%2C3.8-0.6%0D%0A%09%09c1.2%2C0%2C2.1%2C0.1%2C2.9%2C0.4c0.8%2C0.3%2C1.5%2C0.6%2C2%2C1s0.9%2C0.9%2C1.2%2C1.4s0.5%2C1.1%2C0.6%2C1.6s0.2%2C1.1%2C0.2%2C1.6c0%2C0.5%2C0%2C1%2C0%2C1.3v9.4h-3.7V285.7z%0D%0A%09%09%20M487.7%2C280.7h-0.8c-0.6%2C0-1.2%2C0-1.9%2C0.1c-0.7%2C0-1.4%2C0.2-2%2C0.3c-0.6%2C0.2-1.2%2C0.4-1.6%2C0.7c-0.4%2C0.3-0.6%2C0.8-0.6%2C1.4%0D%0A%09%09c0%2C0.4%2C0.1%2C0.7%2C0.3%2C1c0.2%2C0.3%2C0.4%2C0.5%2C0.7%2C0.7c0.3%2C0.2%2C0.6%2C0.3%2C0.9%2C0.4c0.3%2C0.1%2C0.7%2C0.1%2C1%2C0.1c1.4%2C0%2C2.4-0.3%2C3.1-1%0D%0A%09%09c0.7-0.7%2C1-1.6%2C1-2.7V280.7z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M506.4%2C276.6c-0.5-0.5-1-0.9-1.5-1.2c-0.5-0.3-1.1-0.4-1.6-0.4c-0.7%2C0-1.4%2C0.1-2%2C0.4%0D%0A%09%09c-0.6%2C0.3-1.1%2C0.6-1.5%2C1.1c-0.4%2C0.5-0.7%2C1-1%2C1.6c-0.2%2C0.6-0.3%2C1.2-0.3%2C1.8c0%2C0.6%2C0.1%2C1.2%2C0.3%2C1.8c0.2%2C0.6%2C0.5%2C1.1%2C1%2C1.6%0D%0A%09%09c0.4%2C0.5%2C0.9%2C0.8%2C1.5%2C1.1c0.6%2C0.3%2C1.3%2C0.4%2C2%2C0.4c0.6%2C0%2C1.2-0.1%2C1.8-0.4c0.5-0.3%2C1-0.6%2C1.4-1.1l2.7%2C2.9c-0.4%2C0.4-0.9%2C0.8-1.4%2C1.1%0D%0A%09%09c-0.5%2C0.3-1.1%2C0.5-1.6%2C0.7c-0.5%2C0.2-1.1%2C0.3-1.6%2C0.4c-0.5%2C0.1-0.9%2C0.1-1.3%2C0.1c-1.2%2C0-2.4-0.2-3.5-0.6s-2-1-2.8-1.7%0D%0A%09%09c-0.8-0.7-1.4-1.6-1.9-2.7c-0.5-1.1-0.7-2.2-0.7-3.5s0.2-2.5%2C0.7-3.5c0.5-1.1%2C1.1-2%2C1.9-2.7c0.8-0.7%2C1.7-1.3%2C2.8-1.7%0D%0A%09%09s2.2-0.6%2C3.5-0.6c1%2C0%2C2.1%2C0.2%2C3.1%2C0.6c1.1%2C0.4%2C2%2C1%2C2.8%2C1.9L506.4%2C276.6z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%231D1D1B%22%20d%3D%22M514.2%2C281.3c0.1%2C1.2%2C0.6%2C2.2%2C1.4%2C2.9s1.8%2C1%2C3%2C1c1%2C0%2C1.9-0.2%2C2.6-0.6c0.7-0.4%2C1.3-0.9%2C1.8-1.6l2.9%2C2.2%0D%0A%09%09c-1%2C1.2-2%2C2-3.2%2C2.5c-1.2%2C0.5-2.4%2C0.7-3.7%2C0.7c-1.2%2C0-2.4-0.2-3.5-0.6s-2-1-2.8-1.7c-0.8-0.7-1.4-1.6-1.9-2.7%0D%0A%09%09c-0.5-1.1-0.7-2.2-0.7-3.5s0.2-2.5%2C0.7-3.5c0.5-1.1%2C1.1-2%2C1.9-2.7c0.8-0.7%2C1.7-1.3%2C2.8-1.7s2.2-0.6%2C3.5-0.6c1.1%2C0%2C2.2%2C0.2%2C3.1%2C0.6%0D%0A%09%09c0.9%2C0.4%2C1.7%2C1%2C2.4%2C1.7s1.2%2C1.7%2C1.6%2C2.8c0.4%2C1.1%2C0.6%2C2.4%2C0.6%2C3.8v1.1H514.2z%20M522.6%2C278.2c0-1.2-0.4-2.1-1.1-2.8%0D%0A%09%09c-0.7-0.7-1.7-1-3-1c-1.2%2C0-2.2%2C0.4-2.9%2C1.1c-0.7%2C0.7-1.2%2C1.6-1.3%2C2.8H522.6z%22/%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	display: block;
	height: 296px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: 100%;
	width: 644px;
	white-space: nowrap;
	@include transition(opacity 150ms ease-out);
	&:hover,
	&:focus {
		opacity: 0.8;
	}
}



.link_home {
	background: no-repeat center;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217px%22%20height%3D%2230px%22%20viewBox%3D%220%200%2017.4%2030.1%22%20enable-background%3D%22new%200%200%2017.4%2030.1%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20d%3D%22M4.8%2C13.7L4.8%2C13.7c0.8-1.6%2C2.7-3.1%2C5.7-3.1c5.1%2C0%2C6.9%2C3.6%2C6.9%2C7.5v12h-4.8v-9.6c0-2.1-0.2-5.6-3.5-5.6%0D%0A%09c-3.1%2C0-4.4%2C2.3-4.4%2C4.8v10.4H0.1v-30h4.8V13.7z%22/%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	display: block;
	height: 30px;
	overflow: hidden;
	text-indent: 100%;
	width: 17px;
	white-space: nowrap;
	@include transition(opacity 150ms ease-out);
	&:hover,
	&:focus {
		opacity: 0.8;
	}
}

.color_negative .link_home {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2217px%22%20height%3D%2230px%22%20viewBox%3D%220%200%2017.4%2030.1%22%20enable-background%3D%22new%200%200%2017.4%2030.1%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M4.8%2C13.7L4.8%2C13.7c0.8-1.6%2C2.7-3.1%2C5.7-3.1c5.1%2C0%2C6.9%2C3.6%2C6.9%2C7.5v12h-4.8v-9.6c0-2.1-0.2-5.6-3.5-5.6%20%20c-3.1%2C0-4.4%2C2.3-4.4%2C4.8v10.4H0.1v-30h4.8V13.7z%22%20%2F%3E%0A%3C%2Fsvg%3E');
}



/* ---------------------------------------- Lists ---------------------------------------- */

/* ------------------------------ Expander list */
.list_expander a,
.list_expander button {
	font-family: $avenirMedium;
	font-size: 1.125em; /* 18px */
	line-height: 1.334; /* 18px */
}
.list_expander a,
.list_expander button {
	display: inline-block;
	// &:hover,
	// &:focus {
	// 	text-decoration: none;
	// }
}

/* modifiers */
.color_negative .list_expander a,
.color_negative .list_expander button {
	color: #fff;
}

.list_expander [data-expander-content] {
	outline: none;
	padding: 20px 0 20px 40px;
}
.list_expander span {
	display: block;
	margin-left: 20px;
}

/* ------------------------------ Large list */
.list_large {
	margin: 80px 0;
}
.list_large a {
	display: inline-block;
	font-family: $avenirHeavy;
	font-size: 4.375em; /* 70px */
	line-height: 1.2; /* 90px */
	position: relative;
	&:hover,
	&:focus {
		text-decoration: none;
	}
	&:hover::after,
	&:focus::after {
		background-color: #1f1f1f;
		content: '';
		height: 6px;
		position: absolute;
		bottom: 2px;
		left: 0;
		right: 0;
	}
}



/* ------------------------------ Exhibition list */
.list_exhibitions {
	position: relative;
}
.list_exhibitions li {
	left: 0;
	position: absolute;
	top: 0;
}
.list_exhibitions a {
	display: block;
	font-family: $avenirHeavy;
	font-size: 1.875em; /* 30px */
	line-height: 1; /* 30px */
	padding: 20px;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

[data-exhibition-placeholder] {
	.green {
		color: #4bde1c;
	}
	.blue {
		color: #3200ff;
	}
	.orange {
		color: #ff8600;
	}
	.red {
		color: #ff0000;
	}
	.gold {
		color: #FFD700;
	}
}



/* ---------- Link colors */

/* orange */
.orange:hover,
.orange:focus {
	color: #ff8600;
	text-decoration: none;
}
/* blue */
.blue:hover,
.blue:focus {
	color: #3200ff;
	text-decoration: none;
}
/* green */
.green:hover,
.green:focus {
	color: #4bde1c;
	text-decoration: none;
}
/* red */
.red:hover,
.red:focus {
	color: #ff0000;
	text-decoration: none;
}
.gold:hover,
.gold:focus {
	color: #FFD700;
	text-decoration: none;
}


/* ---------------------------------------- Forms ---------------------------------------- */

form {
	width: 600px;
	margin: 0 auto;
}
form h2 {
	font-size: 1.750em; /* 28px */
	font-family: $avenirHeavy;
	margin-bottom: 40px;
}
form .note {
	float: left;
	margin: -30px 0 30px 30%;
	text-align: left;
	width: 70%;
}

input,
textarea {
	float: left;
	margin-bottom: 30px;
	width: 70%;
}
input:not([type="file"]),
textarea {
	border: 1px solid #000;
	padding: 5px;
}
textarea {
	min-height: 140px;
}
label {
	float: left;
	line-height: 32px;
	text-align: left;
	width: 30%;
}
[type="submit"] {
	font-size: 1.750em; /* 28px */
	font-family: $avenirHeavy;
	position: relative;
	margin: 0 auto 40px;
	&::after {
		background-color: #1f1f1f;
		content: '';
		position: absolute;
		bottom: -6px;
		height: 3px;
		width: 100%;
		left:0;
	}
}
input[type="file"] {
	cursor: pointer;
	height: 32px;
	padding: 6px 0;
}
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
  width: 120px;
}
input[type="file"]::before {
	content: 'Upload image';
	display: inline-block;
	font-size: 1em; /* 16 px */
	font-family: $avenirHeavy;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	line-height: 32px;
	text-decoration: underline;
	top: -6px;
	position: relative;
}


/* ---------------------------------------- Components ---------------------------------------- */

.fill_viewport {
	height: 100%;
	min-width: 960px;
	width: 100%;
}


/* -------------------- Slide up panel */
.panel_container {
	background-color: rgba(255,255,255,0.8);
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.panel_toggle {
	height: 60px;
	font-size: 0.875em; /* 14px */
	left: 50%;
	line-height: 1; /* 14px */
	margin-left: -50px;
	position: absolute;
	top: -60px;
	width: 100px;
	z-index: 10;
	@include transition((top 350ms ease-out, height 350ms ease-out));
}

[aria-expanded="true"].panel_toggle {
	height: 100px;
	top: 0;
}
.button_close {
	display: block;
	height: 0;
	font-family: $avenirHeavy;
	font-size: 1.250em; /* 20px */
	font-weight: bold;
	line-height: 2; /* 40px */
	opacity: 0;
	@include transition((opacity 350ms ease-out, height 350ms ease-out));
}
[aria-expanded="true"] .button_close {
	height: 40px;
	opacity: 1;
}

.panel_content {
	padding: 60px 0;
	@include transition(padding-top 250ms ease-out);
}
[aria-expanded="true"] + [data-expander-content] .panel_content {
	padding-top: 120px;
}


/* -------------------- Center content */
.centered {
	display: table;
	height: 100%;
	left: 0;
	min-width: 960px;
	position: fixed;
	top: 0;
	width: 100%;
}
.centered_content {
	display: table-cell;
	vertical-align: middle;
}

button.center {
	margin: 0 auto;
}

/* image swap */
.image_placeholder {
	display: block;
	margin: 70px auto 30px;
	width: 700px;
}
[data-exhibition-placeholder] {
	display: none;
}


/* -------------------- Expander */
[data-expander-content],
[data-expander-button][aria-expanded="true"]:hover,
[data-expander-button][aria-expanded="true"]:focus {
	outline: none;
}
[data-expander-content][aria-hidden="true"] {
	display: none;
}


/* ---------------------------------------- Exhibition page ---------------------------------------- */

.exhibition_content {
	background-color: #fff;
	min-height: 100%;
	padding: 80px 0;
	position: relative;
	width: 100%;
	z-index: 1;
}

/* Exhibition work */
.exhibition_work {
	width: 800px;
}
.exhibition_work li {
	width: 33.333333%;
}
.exhibition_work a {
	display: block;
	padding: 10px;
}
.exhibition_work img {
	opacity: 1;
	@include transition(opacity 150ms ease-out);
}
.exhibition_work.is_active img {
	opacity: 0.6;
}
.exhibition_work a:hover img,
.exhibition_work a:focus img {
	opacity: 1 !important;
}

/* Exhibition name */
// .exhibition_name {
// 	left: 20px;
// 	position: fixed;
// 	top: 20px;
// }

/* Exhibition hero */
.exhibition_hero {
	background: no-repeat center;
	display: table;
	height: 100%;
	width: 100%;
	@include background-size(cover);
}
.exhibition_hero_container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.hero_caption {
	margin: 0 auto;
	max-width: 520px;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hero_caption p {
	margin-bottom: 0;
}
.hero_caption hr {
	background-color: #000;
	height: 1px;
	margin: 15px 0;
}

.exhibition_hero_scroll,
.exhibition_content_scroll {
	display: block;
	height: 80px;
	left: 50%;
	margin-left: -25px;
	overflow: hidden;
	text-indent: 100%;
	width: 50px;
	white-space: nowrap;
}

.exhibition_hero_scroll {
	background: no-repeat center 20px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210.1%22%20height%3D%2220%22%20viewBox%3D%222.5%205%2010.1%2020%22%20enable-background%3D%22new%202.5%205%2010.1%2020%22%3E%3Cpath%20d%3D%22M8.9%205v15h3.7c-1.7%201.7-3.5%203.4-5.1%205l-5-5h3.7v-15h2.7z%22/%3E%3C/svg%3E');
	bottom: 0;
	position: fixed;
}

.exhibition_content_scroll {
	background: no-repeat center center;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210.1%22%20height%3D%2220%22%20viewBox%3D%222.5%205%2010.1%2020%22%20enable-background%3D%22new%202.5%205%2010.1%2020%22%3E%3Cpath%20d%3D%22M6.2%2025v-15h-3.7c1.7-1.7%203.5-3.4%205.1-5l5%205h-3.7v15h-2.7z%22/%3E%3C/svg%3E');
	display: block;
	top: 0;
	z-index: 10;
}

.background_image {
	background: no-repeat center;
	left: 0;
	opacity: 0.5;
	position: fixed;
	top: 0;
	@include background-size(cover);
}

[class*="pos_"] {
	position: absolute;
	z-index: 10;
	& a {
		position: relative;
		&:hover,
		&:focus {
			text-decoration: none;
			&::after {
				background-color: #1f1f1f;
				content: '';
				height: 1px;
				position: absolute;
				bottom: -1px;
				left: 10px;
				right: 0;
			}
		}
	}
}
.pos_b_l,
.pos_b_r {
	bottom: 30px;
}

.pos_b_l[data-position-update],
.pos_b_r[data-position-update] {
	bottom: -40px;
	position: fixed !important;
	@include transition(bottom 150ms ease-out);
}
.pos_b_l[data-position-update].is_inview,
.pos_b_r[data-position-update].is_inview {
	bottom: 30px;
}
.pos_t_l,
.pos_t_r {
	top: 30px;
}
.pos_b_r,
.pos_t_r {
	right: 30px;
}
.pos_b_l,
.pos_t_l {
	left: 30px;
}

.pos_t {
	top: 30px;
	left: 50%;
}
.pos_t p {
	margin-left: -50%;
}

.pos_b {
	bottom: 30px;
	left: 50%;
}
.pos_b a {
	font-size: 20px;
	font-family: $avenirHeavy;
	margin-left: -50%;
	white-space: nowrap;
}

[data-position-update] {
	opacity: 0;
	@include transition(opacity 150ms ease-out);
	&.is_visible {
		opacity: 1;
	}
}


/* ---------------------------------------- Carousel ---------------------------------------- */
.carousel {
	height: 560px;
	left: 0;
	margin-top: -280px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}
.swiper-container {
	height: 500px;
	margin-bottom: 30px;
	width: 100%;
}
.swiper-slide {
	cursor: pointer;
	width: 100%;
}
.swiper-slide::before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}
.swiper-slide img {
	display: inline-block;
	max-height: 500px;
	max-width: 750px;
	vertical-align: middle;
}

.swiper-pagination {
	display: inline-block;
}
.swiper-pagination .swiper-pagination-switch {
	background: no-repeat center;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ccircle%20fill%3D%22%239D9C9C%22%20cx%3D%227.7%22%20cy%3D%227.8%22%20r%3D%224%22/%3E%3C/svg%3E');
	cursor: pointer;
	display: block;
	height: 30px;
	opacity: 0.5;
	width: 30px;
	@include transition(opacity 150ms ease-out);
	&:hover,
	&:focus {
		opacity: 1;
	}
}
.swiper-pagination .swiper-active-switch {
	opacity: 1;
}

[class*="swiper-direction"] {
	background: no-repeat center;
	left: 15px;
	height: 50px;
	margin-top: -25px;
	overflow: hidden;
	position: fixed;
	text-indent: 100%;
	top: 50%;
	width: 50px;
	white-space: nowrap;
	z-index: 2;
}
.swiper-direction-next {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2220px%22%20height%3D%2210.1px%22%20viewBox%3D%225%202.5%2020%2010.1%22%20enable-background%3D%22new%205%202.5%2020%2010.1%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20d%3D%22M5%2C6.2c5%2C0%2C9.9%2C0%2C15%2C0c0-1.3%2C0-2.5%2C0-3.7c1.7%2C1.7%2C3.4%2C3.5%2C5%2C5.1c-1.6%2C1.6-3.3%2C3.3-5%2C5c0-1.1%2C0-2.4%2C0-3.7c-5%2C0-10%2C0-15%2C0%0D%0A%09%09C5%2C8%2C5%2C7.2%2C5%2C6.2z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	left: auto;
	right: 15px;
}
.swiper-direction-prev {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2220px%22%20height%3D%2210.1px%22%20viewBox%3D%225%202.5%2020%2010.1%22%20enable-background%3D%22new%205%202.5%2020%2010.1%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20d%3D%22M25%2C8.9c-5%2C0-9.9%2C0-15%2C0c0%2C1.3%2C0%2C2.5%2C0%2C3.7c-1.7-1.7-3.4-3.5-5-5.1c1.6-1.6%2C3.3-3.3%2C5-5c0%2C1.1%2C0%2C2.4%2C0%2C3.7c5%2C0%2C10%2C0%2C15%2C0%0D%0A%09%09C25%2C7.1%2C25%2C7.9%2C25%2C8.9z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
}

iframe {
	vertical-align: middle;
}


.info_panel {
	height: calc(50vh - 48px);
	&.dark {
		background-color: #000;
	}
}

.info_panel .wrapper {
	display: table;
	height: 100%;
	width: 800px;
}
.info_panel .wrapper p {
	display: table-cell;
	font-size: 2.6em;
	font-family: $avenirHeavy;
	vertical-align: middle;
}

.info_panel.dark p {
	color: #fff;
}

.info_panel a {
	position: relative;
	&::after {
		bottom: -2px;
		content: '';
		left: 0;
		height: 3px;
		background: #1f1f1f;
		position: absolute;
		width: 100%;
	}
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

span.large {
	font-size: 3.125em;
	line-height: 1.3;
	font-family: "AvenirHeavy", Helvetica, Arial, sans-serif;
}