
/* ---------------------------------------- SASS ---------------------------------------- */


/* ------------------------------ Variables */

$avenirBook: 'AvenirBook', Helvetica, Arial, sans-serif;
$avenirMedium: 'AvenirMedium', Helvetica, Arial, sans-serif;
$avenirHeavy: 'AvenirHeavy', Helvetica, Arial, sans-serif;

/* ------------------------------ Mixins */

// transitions
@mixin transition($vars) {
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
			backface-visibility: hidden;
	-webkit-transition: $vars;
	   -moz-transition: $vars;
		 -o-transition: $vars;
			transition: $vars;
}
@mixin background-size($var) {
	-webkit-background-size: $var;
	   -moz-background-size: $var;
			background-size: $var;
}